@charset "utf-8";
/* CSS Document */

* {
	margin: 0 auto;
	padding: 0;
	text-indent: 0;
	list-style-type: none;
}

body {
	width: 1275px;
	background-color: #f8f9fa;
}

h1{
	margin: 12px 0;
	font-size: 36px;
	text-align: center;
}
h2{
	float: left;
	width: 100%;
	height: 48px;
	margin: 10px 0 5px 0;
	font-size: 18px;
	background-color:rgb(63, 63, 63);
	color:rgb(218, 57, 57);
	line-height: 48px;
	text-indent: 16px;
	border-radius: 8px;
	box-shadow: 1px 1px 3px 0px #999;
}


b{
	color: rgb(233, 148, 56);
	cursor:pointer;
}
ul{
	margin: 0 8px;
}
li {
	float: left;
	width: 304px;
	height: 74px;
	line-height: 74px;
	float: left;
	border: solid 1px #ccc;
	margin: 4px 4px;
	text-indent: 4px;
	text-align: left;
	border-radius: 5px;
	font-weight: bold;
	background-color: #efefef;
	box-shadow: 1px 1px 3px 0px #cdcdcd;
}

li.hidden{
	display: none;
}
li sub {
	float: right;
	font-size: 12px;
	width: 98px;
	margin-right: 5px;
}
li sub a{
	float: left;
	margin: 5px 2px auto 2px;
	line-height: 25px;
	width: 90px;
	background-color: #dedede;
	padding: 2px;
	border-radius: 100px;
	text-align: center;
	font-weight: normal;
	box-shadow: 1px 1px 1px 1px #fff;
}
li sub a:hover{
	background-color:khaki;
	color: red;
}

li sub a.hidden{
	display: none;
}


li.long{
	clear: both;
	height: 52px;
	line-height: 52px;
	width: 1250px;
}
li.long h3{
	float: left;
	width: 960px;
	font-size: 16px;
	line-height: 52px;
	text-indent: 8px;
}
li.long sub {
	clear: none;
	float: right;
	line-height: 52px;
	height: 52px;
	width: 200px;
}
li.long span{
	margin-top: 10px;
}
li.long sub{
	margin-top: 8px;
}


li:hover{
	background-color: #fff;
}


/* Icons */
li span {
	float: left;
	width: 29px;
	height: 29px;
	margin: 20px 2px auto 6px;
}


a,a:visited{
	text-decoration-line: none;
	color: #333333;
}
a:hover{
	color: #f00;
}

p{
	text-indent: 8px;
	line-height: 32px;
	width: 60%;
	float: left;	
}

.center {
	width: 100%;
	margin: 0;
	background-color: #ffffff;
}
.clr{
	clear: both;	
}

.site_discription{
	float: left;
	width: 100%;
	margin: 5px auto;

}
.vipimg{
	float: right;
	width: 20%;
	height: 94px;
	line-height: 94px;
}
.vipmq{
	float: left;
	width: 80%;
	height: 30px;
	line-height: 30px;
}
marquee{
	height: 30px;
	line-height: 30px;
	width: 98%;
	color: red;
	font-weight: bold;
}

.sitenav{
	clear: both;
	float: left;
	width: 100%;
}
.sitenav ul li {
	width: 49%;
	height: 48px;
	line-height: 48px;
	text-align: center;
	cursor:pointer;
}

.software_list{
	float: left;
	text-align: left;
}
.txtCenter{
	margin-top: 49px;
	text-align: center;
}

#MacOS {
	display: none;
}
#MacOS h2{
	background-color: #f8ce2e;	
}

.site_foot{
	float: left;
	width: 100%;
	margin: 35px auto;

}